<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1>Bienvenido Usuario</h1>
        <div class="mt-5">
            <a href="/login" class="btn btn-primary mr-3">Iniciar sesión</a>
            <a href="/register" class="btn btn-success mr-3">Registrarse</a>
            <a href="/doc" target="_blank" class="btn btn-info mr-3">Endpoints API</a>
            <a href="https://documenter.getpostman.com/view/18745239/2sA2r3YR3E#intro" target="_blank" class="btn btn-warning">Documentación API</a>
        </div>
    </div>
</body>
</html>
